.wd-addb{
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
    margin-left: 5px
}

    ._arrow_ {
        margin: 0;
        width: 10px;
        height: 5px;
        position: relative;
    }
    ._arrow_ i {
        border-style: solid;
        border-color: #999;        
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 1px;
        position: absolute;
        left: 2px;
        top: 1px;
    }
    .theads [data-sort='asc'] ._up_ i,
    .theads [data-sort='desc'] ._down_ i{
        border-color: #000;
    }
    .theads th{
        cursor: pointer;
    }
    ._arrow_._up_ i {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    ._arrow_._down_ i {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    .sorting-sign{
        width: 10px;display: inline-block;text-align: center;margin-left: 10px;
    }
    
    .wddp{
        padding: 0;
    }
    .wddp li{
        list-style: none;
        display: inline-block;
        padding: 5px;
        margin: 0 2px;
        border: 1px solid #aaa;
        border-radius: 2px;
        min-width: 15px;
        height: 15px;
        text-align: center;
        line-height: 15px;
        cursor: pointer;
    }
    .wddp li.active{
        background: #ddd;
    }
    #wddtzn #wd-sa{
        margin-bottom: 20px;
    }
    #wddtzn #wd-sa select,#wddtzn #wd-sa input{
        outline: none;
    }
    #data_table{
        border-collapse: collapse;
        width: 100%;
    }
    #data_table tr th,#data_table tr td{
        padding: 5px;
        border:1px solid #eee;
    }



#wd-modal{
    position: fixed;width: 300px;z-index: 999;right: 10px;padding: 10px;top: 40px;animation: slidedown 0.5s;box-shadow: 0 0 4px #333;
}
.alert-success{
    background-color: #317d5a
}
.alert-error{
    background-color: #922424
}

.wd-modal-title{
    color: white;display: inline-block;margin: 0;width: calc(100% - 25px);
}
.wd-modal-close{
    color: #eee;display: inline-block;width: 20px;margin: 0;text-align: center;cursor: pointer;height: 20px;font-weight: bold;
}
@keyframes slidedown {
  from {top: -50px;}to {top: 40px;}
}

.wd-form-label{
    display: block;
}

.wd-form-field{
    width: 100%;max-width: 400px;padding: 5px 10px;border-radius: 2px;border: 1px solid #999;
}
.wd-btn-primary{
    padding: 5px 10px;
    border: 1px solid #007595;
    color: white;
    background-color: #007595;
    border-radius: 3px;
}


